@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: 'Yanone Kaffeesatz', sans-serif;
$font-family-titles: 'Bebas Neue', sans-serif;
$family-primary: $family-sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;


$body-font-size: 16px;

h1{
    font-family: $font-family-titles;
}

.inline li{
    display: inline-block;
    margin-right:20px;
}

@import "../node_modules/bulma/bulma";